/* google fonts */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



body {
    font-family: 'Muli', sans-serif;
    background-color: rgba(11,211,211, 0.2);
}

h1 h2 h3 h4 h5{
    font-family: 'Quicksand', sans-serif;
}
#headShot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.small-logo{
    height: 30px;
    width: 30px;
    margin-left:3px;
    margin-right:3px;
}

.centered-text{
    text-align: center;
}

#bioText{
color:green;
font-size:large;
}

.bioList{
    font-size:large;
}

footer {
    text-align: center;
    padding: 3px;
    background-color:rgba(248,144,231,0.7);
    color: white;
  }

