
#headShot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.small-logo{
    height: 30px;
    width: 30px;
    margin-left:3px;
    margin-right:3px;
}

.centered-text{
    text-align: center;
}

#bioText{
color:green;
}